*{
	margin:0;
	padding: 0;
	font-family: Montserrat;
}
header{
	height: 76px;
	color: #FFFFFF;
}

.center{
	padding-left: calc(50% - 600px);
	padding-right: calc(50% - 600px);
}

.catalogue__heading{
	display:flex;
	justify-content: space-between;
	border-bottom:0.5px solid rgba(255, 255, 255, 0.8);
	padding-bottom: 18.5px;
}

nav{
	display: flex;
	column-gap:32px;
}

.heading__logo{
	margin-top: 16px;
}

.search{
	height: 41px;
	border-radius: 20px;
	width: 288px;
	background: transparent;
	border: 1px solid white;
	margin-top: 17.5px;
	padding-left: 20px;
	font-style: normal;
   font-weight: 400;
   font-size: 16px;
   line-height: 20px;
	color: #FFFFFF;
}

::placeholder{
	padding-left: 20px;
	font-style: normal;
   font-weight: 400;
   font-size: 16px;
   line-height: 20px;
	color: #FFFFFF;
}

.catalog__top{
	background-image: url("IMG/Rectangle29.png");
	background-position: 0 0;
	background-size: 100% 100%;
	background-repeat: no-repeat;
	height: 400px;
	color: #FFFFFF;
	margin-bottom: 64px;
}

h1{
font-family: 'Montserrat';
font-size: 64px;
font-weight: 600;
line-height: 70px;
letter-spacing: 0em;
margin-bottom: 16px;
margin-top: 127px;
}

.breadcrumbs {
font-size: 16px;
line-height: 20px;
text-decoration: none;
color: #FFFFFF;
font-weight: 400;
line-height: 19.5px;
padding-top: 28px;
}
.middle{
color: black;
}

.breadcrumbs__middle {
margin-bottom: 41px;
word-spacing: 10px;
list-style-type: none;
display: flex;
}

.linkbox{
display: flex;
justify-content: space-between;
}

.breadcrumbs__item{
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 32px;
color: #000000;
}

.breadcrumbs__item:not(:last-child)::after {
content: '/';
padding-left: 8px;
padding-right: 8px;
}
.sorting{
width:288px;
height:41px;
border: 1px solid #C4C4C4;
border-radius: 20px;
display:flex;
align-items: center;
justify-content: center;
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 20px;
color: #000000;
box-sizing: border-box;
.sorting__id{
	margin-left: 15px;
}
}

.list{
border:none;
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 20px;
color: #000000;
border: none;
appearance: none;
background: url('./IMG/Polygon1.svg') no-repeat right;
background-position-x: calc(100% - 8px);
margin-left: 8px;
}

.item__blocks{
display: grid;
grid-template-columns: repeat(3, 4fr);
grid-template-rows: repeat(4, 1fr);
row-gap: 48px;
column-gap: 32px;

}
.item__block{
display: flex;
flex-flow: column;
justify-content: flex-start;
}

.catalog-item__title{
margin-top: 10px;
margin-bottom: 8px;
font-family: 'Montserrat';
font-style: normal;
font-weight: 500;
font-size: 24px;
line-height: 29px;
color: #000000;
}

.catalog-item__description{
margin-bottom: 12px;
font-family: 'Montserrat';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 17px;
color: #888888;
}

.catalog-item__price{
font-family: 'Montserrat';
font-style: normal;
font-weight: 500;
font-size: 24px;
line-height: 29px;
color: #050505;
}

.show__more{
margin-top: 32px;
margin-bottom: 64px;
}

.show__link{
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 24px;
text-decoration-line: underline;
color: #000000;
}

footer{
background: #F7F6F6;
margin-top: 64px;
display:flex;
padding-top:32px;
padding-bottom: 59px;
column-gap: 212px;
}

.footer__parts{
display:flex;
column-gap: 189px;
}

.footer__blocks{
display: flex;
column-gap: 129px;
}

.footer__block{
display: flex;
flex-flow: column wrap;
row-gap: 12px;
}

.footer-menu{
font-weight: 500;
font-size: 24px;
line-height: 29px;
color: #000000;
padding-bottom: 12px;
}

.icons{
	display: flex;
	justify-content: baseline;
}
.instagram{
	margin-right: 22.41px;
}
.twitter{
	margin-right: 24.31px;
}


.footer-menu__link{
font-weight: 500;
font-size: 14px;
line-height: 17px;
color: #888888;
text-decoration: none;
}

.footer-menu__link:hover{
	border-bottom: 1px solid black;
}

.subscribe{
	display: flex;
	flex-flow: column wrap;
	row-gap: 12px;
	align-items: center;
}

.subscribe__text{
	font-size: 14px;
   line-height: 16px;
   color: #000000;
	padding-bottom: 16px;
}

.subscribe__form{
background: #FFFFFF;
border: 1px solid #C4C4C4;
box-sizing: border-box;
border-radius: 20px;
font-style: normal;
font-weight: normal;
font-size: 15px;
line-height: 18px;
color: #C4C4C4;
height:46px;
width: 275px;
}

::placeholder{
	color:#C4C4C4;
}

.subscribe__button{
background: #DED7D769;
box-sizing: border-box;
border: none;
border-radius: 20px;
width: 275px;
height: 46px;
font-size: 15px;
line-height: 18px;
color: #000000;
margin-top: 4px;
}

.subscribe__button:hover{
	color:white;
	background-color: #000000;
	border: 1px solid black;
}

	